<form (ngSubmit)="onHandleSubmit()" [formGroup]="form" action=""
      class="flex flex-col gap-x-4 gap-y-4 max-w-screen-md">
  <div>
    <label class="flex flex-col flex-1" for="text">
      Text
      <input class="border px-2 py-2 rounded-lg" formControlName="text" id="text"
             name="text" type="text">
    </label>

  </div>
  <div class="flex gap-x-4">
    <label class="flex flex-col flex-1" for="due">
      Due
      <input class="border px-2 py-2 rounded-lg" formControlName="due" id="due"
             name="due" type="date">
    </label>
  </div>

  <div class="flex gap-x-4">
    <label class="flex flex-col flex-1" for="duration">
      Duration (h)

      <input class="border px-2 py-2 rounded-lg" formControlName="duration" id="duration"
             name="duration" type="number">
    </label>

    <label class="flex flex-col flex-1" for="rate">
      <span class="font-bold">Rate (€/hour)</span>
      <input class="border px-2 py-2 rounded-lg" formControlName="rate" id="rate"
             name="rate" placeholder="€/h" type="number">

    </label>
  </div>

  <div>
    <label class="flex flex-col" for="tags">
      <span class="font-bold">
        Tags
      </span>
      <select class="border rounded-lg py-2 px-3" formControlName="tags" id="tags" multiple="multiple" name="tags">
        @for (tag of tags(); track $index) {
          <option [value]="tag">{{ tag }}</option>
        }
      </select>

    </label>
  </div>

  <app-btn type="submit">
    {{ btnText }}
  </app-btn>
</form>
