<div class="flex gap-1 group my-2">
  <div #editInput
       (input)="onInput()"
       [contentEditable]="contentEditable()"
       [ngClass]="{'line-through': status() && !contentEditable()}"
       class="w-full max-w-80 whitespace-pre-wrap inline-block "
       spellcheck="false"
  >
  </div>

  <img
    (click)="setDisabledState(!contentEditable())"
    *ngIf="withToggle()"
    alt="edit" class="invisible group-hover:visible cursor-pointer"
    height="24"
    ngSrc="assets/pencil.svg"
    width="24"
  >
</div>
