<div #backdrop (click)="close()"
     class="bg-white/60 h-screen w-screen absolute left-0 top-0 z-0 hidden invisible transition-all"></div>
<div #inputModal
     class="bg-white shadow-lg border rounded-lg px-4 py-6 absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-2/4 scale-75 transition-transform invisible pointer-events-none">
  <h1 class="font-semibold">{{ data()?.title }}</h1>
  <form (ngSubmit)="onStoreChanges()">
    @if (data()?.propertyKey) {
      <input [(ngModel)]="data().value" [name]="data().propertyKey" [type]="data().inputType"
             class="border px-2 py-2 rounded-lg"/>
    }

    <div class="flex gap-x-2">
      <button
        class="border py-1 px-2 rounded-lg mt-2 bg-green-100 text-green-600">Save changes
      </button>
      <button
        (click)="close()"
        class="border py-1 px-2 rounded-lg mt-2 bg-orange-100 text-orange-600">Cancel
      </button>
    </div>
  </form>


</div>
