<li class="mt-2">
  <div class="flex items-start gap-2 group ">
    <form (ngSubmit)="onSubmit(task().id)" [formGroup]="editTaskForm" class="w-full">
      <div class="leading-6 w-full flex items-start">
        <input
          class="mt-4 mr-2 accent-green-300"
          formControlName="status"
          name="test"
          type="checkbox"
        >
        <div class="flex flex-col w-full items-start">
          <app-editable-input
            [status]="task().status"
            [withToggle]="false"
            formControlName="text"/>
          <aside *ngIf="taskEditing()" aria-label="actions"
                 class="flex gap-2 mb-2">
            <button class="border py-1 px-2 rounded-lg mt-2 bg-green-100 text-green-600"
                    type="submit">
              Update
            </button>
            <button (click)="onToggleTaskEditing()"
                    class="border py-1 px-2 rounded-lg mt-2 bg-orange-100 text-orange-600">Cancel
            </button>
          </aside>
        </div>
      </div>
    </form>

    <img (click)="onToggleTaskEditing()" alt="edit"
         class="invisible group-hover:visible cursor-pointer" height="24"
         ngSrc="assets/pencil.svg" width="24"
    >
  </div>
  <div class="flex gap-x-2 items-center ml-3">
    <div
      (click)="editProperty(task(),'rate')"
      class="text-xs bg-green-100 rounded-full px-1 py-1 my-1 text-gray-900 inline-block hover:shadow-sm cursor-pointer">
      {{ task().rate }}€/h
    </div>
    <div
      (click)="editProperty(task(),'duration')"
      class="text-xs bg-green-100 rounded-full px-1 py-1 my-1 text-gray-900 inline-block hover:shadow-sm cursor-pointer">
      {{ task().duration }}h
    </div>
    <div
      class="text-xs bg-gray-100 rounded-full px-1 py-1 my-1 text-gray-900 inline-block">
      {{ getTaskPrice(task().duration, task().rate) }}€
    </div>

    <div
      (click)="editProperty(task(),'due')"
      class="relative text-xs border rounded-full px-1 py-1 my-1 text-gray-900 inline-flex gap-x-2 items-center hover:shadow-sm cursor-pointer">
      <img alt="Due date" src="./assets/calendar.svg">
      <span>
        Due: {{ task().due }}
      </span>
    </div>
  </div>
  <hr class="w-full border">
</li>






